.container {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "first"
    "sec"
    "thi"
    "four";
  height: 100vh;
}

.first { grid-area: first; text-align: center; padding-top: 30px;}

.sec { grid-area: sec; }

.thi { grid-area: thi; }

.four { grid-area: four; }


h1{
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
}

p{
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
}

.block{
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
}